<! DOCTYPE html>
<html>
    <head>
        <title>First node app</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    </head>
    <body>
        <%- body %>    
    </body>
</html>